.fotter_1
    .container
        .fotter_block_1
            .fotter_title Отдел франчайзинга:
            .fotter_tell 
                img(src=img+"fott_tell.svg", alt="")
                a(href="tel:+79210346305").fotter_tell_txt +7-921-034-63-05<span> (Мурманская область)</span>
            .fotter_tell
                img(src=img+"fott_tell.svg", alt="")
                a(href="tel:+79313528619").fotter_tell_txt +7-931-352-86-19<span> (Санкт-Петербург)</span>
            .fotter_mail
                img(src=img+"fott_mail.svg", alt="")
                .fotter_mail_txt fr@okraina.ru
        .fotter_block_2
            .fotter_title Предложить помещение:
            .fotter_tell 
                img(src=img+"fott_tell.svg", alt="")
                a(href="tel:+79210346305").fotter_tell_txt +7-921-034-63-05 
        .fotter_block_3
            .fotter_social 
                a(href="#").social-f 
                    img(src=img+"facebook_w.svg", alt="")
                a(href="#").social-vk
                    img(src=img+"vk_w.svg", alt="")
                a(href="#").social-inst
                    img(src=img+"instagram_w.svg", alt="")
                a(href="#").social-yt
                    img(src=img+"youtube_w.svg", alt="")
            .fotter_reserch © 2006 - 2021 Окраина
            a(href="politics.html").fotter_politics Политика конфиденциальности
    .mnogolan 
        a(href="https://mnogoland.ru/") Разработано студией MNOGOLAND