- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
				.corporate_network
					.container
						.header
							.menu
								<nav class="main-nav main-nav-dop" role="navigation">
									<!-- Mobile menu toggle button (hamburger/x icon) -->
									<input id="main-menu-state" type="checkbox" />
									<label class="main-menu-btn" for="main-menu-state">
										<span class="main-menu-btn-icon"></span> Toggle main menu visibility
									</label>
									<!-- Sample menu definition -->
									<ul id="main-menu" class="sm sm-clean">
										<li><a href="#">О нас</a></li>
										<li><a href="#">Преимущества</a></li>
										<li><a href="#">История</a></li>
										<li><a href="#">Новости</a></li>
										<li><a href="#">Контакты</a></li>
									</ul>
								</nav>
							.logo
								a(href="#")
									img(src=img+"logo.png", alt="")
							.header-social 
								a(href="#").social-f 
									img(src=img+"facebook.svg", alt="")
								a(href="#").social-vk
									img(src=img+"vk.svg", alt="")
								a(href="#").social-inst
									img(src=img+"instagram.svg", alt="")
							.header-phone 
								img(src=img+"phone-call.svg", alt="")
								a(href="tel:+88005551807").header-phone-txt 8-800-555-18-07
						.corporate_network_fl
							.corporate_network_left
								.heshteg_dop #Фирменная сеть
								h1 Окраина<br>вкуснее
								.p_dop Ваш доходный мясной магазин
								.flex_corporate_network
									form
										<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.4014 16.1458L18.3313 13.0756C17.2348 11.9791 15.3708 12.4178 14.9322 13.8432C14.6032 14.83 13.5067 15.3783 12.5199 15.1589C10.3269 14.6107 7.36639 11.7598 6.81815 9.45721C6.4892 8.47033 7.14709 7.37384 8.13393 7.04493C9.55937 6.60634 9.99796 4.74231 8.90147 3.64582L5.83131 0.575656C4.95412 -0.191885 3.63833 -0.191885 2.87079 0.575656L0.787465 2.65898C-1.29586 4.85196 1.00676 10.6633 6.16026 15.8168C11.3137 20.9703 17.1251 23.3826 19.3181 21.1896L21.4014 19.1063C22.169 18.2291 22.169 16.9133 21.4014 16.1458Z" fill="white"/></svg>
										input(type="text")
									a(class="btn_main" id="linkHref" href="#" target="_blank") Мне интересно!
								.p_dop_1 Нажимая на кнопку, вы даете согласие на обработку своих персональных данных
								.heshteg_dop #о нас в цифрах
								.flex_corporate_network_1 
									.corporate_number_l За <br><span class="number_span">30</span><br><span class="days_span">дней</span><br>Запуск<br>бизнеса
									.corporate_number_r
										.corporate_number_top до<br><span class="price_span">400 000 ₽</span><br>Чистая прибыль
										.corporate_number_bot <span class="six_span">6-12</span><span class="mounth_span"> месяцев</span><br>Окупаемость
						.corporate_network_image_block
							img(src=img+"Rectangle 2.png", alt="")
							img(src=img+"Rectangle 3.png", alt="")
							img(src=img+"Rectangle 4.png", alt="")
				.partnership
					.container
						.partnership_fl
							.partnership_left
								.partnership_left_txt_open мы уже открыли!
								.partnership_left_txt_number 37
								.partnership_left_txt_magazine магазинов
								.heshteg_grey #онлайн-счётчик
								a(class="btn_main" id="linkHref" href="#" target="_blank") Стать партнёром
							.partnership_right
								.heshteg_grey #Мы готовы рассмотреть партнерство
								.oblast_block
									.oblast_block_l
										.murm_oblast Мурманская область:
										a(href="#") Кировск
										a(href="#") Никель
										a(href="#") Мончегорск
										a(href="#") Оленегорск
									.oblast_block_r 
										.len_oblast Ленинградская область
										.len_oblast_flex
											.len_oblast_column
												a(href="#") Кингисепп
												a(href="#") Сосновый Бор
												a(href="#") Ломоносов
												a(href="#") Гатчина
												a(href="#") Выборг 
											.len_oblast_column
												a(href="#") Луга
												a(href="#") Тосно
												a(href="#") Кириши
												a(href="#") Тихвин 
											.len_oblast_column
												a(href="#") Кировск
												a(href="#") Шлиссельбург
												a(href="#") Всеволожск
				.about
					.container
						.about_fl
							img(src=img+"Rectangle 14.png", alt="")
							.about_right
								<section data-scrollbar id="my-scrollbar">
										<div class="scroll-content">
											.heshteg_black #об Окраине
											.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии.Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии.Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.Покупатели фирменной сети могут первыми оценить новинки, поучаствовать в дегустациях, купить эксклюзивную продукцию, которой нет в других магазинах.<br><br>Свежесть. Цены. Выбор. Качество. Вкус. За этим к нам приходят и возвращаются
										</div>
										<div class="scrollbar-track scrollbar-track-y">
											<div class="scrollbar-thumb scrollbar-thumb-y"></div>
										</div>
								</section>
				.model
					.container
						.model_fl
							.model_fl_money Паушальный взнос<br><span class="number">200 000 ₽</span>
							.model_fl_royal Роялти<br><span class="number">10 000 ₽</span>
							.model_fl_home Помещение<span></spa><span class="txt">от</span><span class="number">20</span><span class="txt">м2</span></span>
							a(class="btn_main" id="linkHref" href="#" target="_blank") Получить финансовую модель
						.model_fl_1
							.model_block_l
								.model_block_l_cart
									img(src=img+"Rectangle 22.png", alt="")
									.corner
										.corner_block_title
											.corner_title Фирменный корнер
											.corner_metr <span class="number">20-25</span><span class="txt">м2</span>
										.corner_block_rows
											.row Вложения: <span class="bold_600">800-950 тыс. р.</span>
											<hr><br>
											.row Оборудование: <span class="bold_600">350-450 тыс. р.</span>
											.row Оформление, интерьер: <span class="bold_600">150-200 тыс. р.</span>
											.row Товарное наполнение: <span class="bold_600">100 тыс. р.</span>
											.row Паушальный взнос: <span class="bold_600">200 тыс. р.</span>
											<br><br>
											.row_1 Чистая прибыль: <span class="bold_600_green">150 000 – 250 000 ₽</span>
											.row_1 Срок окупаемости: <span class="bold_600_green">6 – 10 месяцев</span>
								a(class="btn_main" id="linkHref" href="#" target="_blank") Получить финансовую модель
							.model_block_r
								.model_block_r_cart
									img(src=img+"Rectangle 24.png", alt="")
									.magazine
										.magazine_block_title
											.magazine_title Фирменный магазин
											.magazine_metr <span class="number">35-60</span><span class="txt">м2</span>
										.magazine_block_rows
											.row Вложения: <span class="bold_600">1100-1350 тыс. р.</span>
											<hr><br>
											.row Оборудование: <span class="bold_600">500- 700 тыс. р.</span>
											.row Оформление, интерьер: <span class="bold_600">200-250 тыс. р.</span>
											.row Товарное наполнение: <span class="bold_600">200 тыс. р.</span>
											.row Паушальный взнос: <span class="bold_600">200 тыс. р.</span>
											<br><br>
											.row_1 Чистая прибыль: <span class="bold_600_green">200 000 – 350 000 ₽</span>
											.row_1 Срок окупаемости: <span class="bold_600_green">6 – 12 месяцев</span>
								a(class="btn_main" id="linkHref" href="#" target="_blank") Получить финансовую модель
				.success_story
					.container
						.slider-for
							a.slider-dop
								.fl_1
									img(src=img+"Rectangle_39.png", alt="")
									.fl_2
										.success_story_title_1 
											.heshteg_black #Истории успеха
											.btn_main
												.circle_plus +
												.btn_main_txt Присоединиться
										.success_story_title_2
											.block_title
												span Магазин 1
												img(src=img+"99.svg", alt="")
											.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.<br>Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.
										
								
							a.slider-dop
								.fl_1
									img(src=img+"Rectangle_39.png", alt="")
									.fl_2
										.success_story_title_1 
											.heshteg_black #Истории успеха
											.btn_main
												.circle_plus +
												.btn_main_txt Присоединиться
										.success_story_title_2
											.block_title
												span Магазин 2
												img(src=img+"99.svg", alt="")
											.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.<br>Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.
								
							a.slider-dop
								.fl_1
									img(src=img+"Rectangle_39.png", alt="")
									.fl_2
										.success_story_title_1 
											.heshteg_black #Истории успеха
											.btn_main
												.circle_plus +
												.btn_main_txt Присоединиться
										.success_story_title_2 
											.block_title
												span Магазин 3
												img(src=img+"99.svg", alt="")
											.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.<br>Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.
						.slider-nav 
							a.sliders-nav
								img(src=img+"Rectangle_40.png", alt="")
							a.sliders-nav
								img(src=img+"Rectangle_41.png", alt="")
							a.sliders-nav
								img(src=img+"Rectangle_40.png", alt="")
				.news
					.container
						.heshteg_black #новости
						.news_blocks 
							.news_block 
								a
									img(src=img+"img_1.png", alt="")
								a.news_block_title Выбор сырья
								.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники...
								a.news_block_btn
									.news_block_btn_txt Посмотреть
									img(src=img+"witness_1.svg", alt="")
							.news_block 
								a
									img(src=img+"img_2.png", alt="")
								a.news_block_title Выбор сырья
								.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники...
								a.news_block_btn
									.news_block_btn_txt Посмотреть
									img(src=img+"witness_1.svg", alt="")
							.news_block 
								a
									img(src=img+"img_3.png", alt="")
								a.news_block_title Выбор сырья
								.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники...
								a.news_block_btn
									.news_block_btn_txt Посмотреть
									img(src=img+"witness_1.svg", alt="")
							.news_block 
								a
									img(src=img+"img_4.png", alt="")
								a.news_block_title Выбор сырья
								.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники...
								a.news_block_btn
									.news_block_btn_txt Посмотреть
									img(src=img+"witness_1.svg", alt="")
						.join_fl
							.join_block_l lol
							.join_block_r
								.heshteg_grey #присоединяйтесь
								.join_block_r_title Постройте выгодный бизнес с ОКРАИНОЙ!
								.p_main Задайте свой вопрос нашему менеджеру прямо сейчас:
								span.telefone 8-800-555-18-07
								.p_main_fl
									.p_main Или напишите нам сейчас:
									span.email fr@okraina.ru
								.flex
									form
										<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.4014 16.1458L18.3313 13.0756C17.2348 11.9791 15.3708 12.4178 14.9322 13.8432C14.6032 14.83 13.5067 15.3783 12.5199 15.1589C10.3269 14.6107 7.36639 11.7598 6.81815 9.45721C6.4892 8.47033 7.14709 7.37384 8.13393 7.04493C9.55937 6.60634 9.99796 4.74231 8.90147 3.64582L5.83131 0.575656C4.95412 -0.191885 3.63833 -0.191885 2.87079 0.575656L0.787465 2.65898C-1.29586 4.85196 1.00676 10.6633 6.16026 15.8168C11.3137 20.9703 17.1251 23.3826 19.3181 21.1896L21.4014 19.1063C22.169 18.2291 22.169 16.9133 21.4014 16.1458Z" fill="#4D434B"/></svg>
										input(type="text")
									a(class="btn_main" id="linkHref" href="#" target="_blank") Оставить заявку
								.p_dops Нажимая на кнопку, вы даете согласие на обработку своих <span>персональных данных</span>

		include blocks/footer.pug
		include blocks/scripts.pug