- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
				.corporate_network
					.parallax_1(id="scene_1")
						img(src=img+"paralax_1_1.png", alt="" class="paralax_1_1" data-depth="1.5")
						img(src=img+"paralax_1_2.png", alt="" class="paralax_1_2" data-depth="1.6")
						img(src=img+"paralax_1_3.png", alt="" class="paralax_1_3" data-depth="1.7")
						img(src=img+"paralax_1_4.png", alt="" class="paralax_1_4" data-depth="1.5")
						img(src=img+"paralax_1_5.png", alt="" class="paralax_1_5" data-depth="1.6")
						img(src=img+"paralax_1_6.png", alt="" class="paralax_1_6" data-depth="1.7")
						img(src=img+"paralax_1_7.png", alt="" class="paralax_1_7" data-depth="1.5")
					.container
						.header
							.reverse
								.menu
									<nav class="main-nav main-nav-dop" role="navigation">
										<!-- Mobile menu toggle button (hamburger/x icon) -->
										<input id="main-menu-state" type="checkbox" />
										<label class="main-menu-btn" for="main-menu-state">
											<span class="main-menu-btn-icon"></span> Toggle main menu visibility
										</label>
										<!-- Sample menu definition -->
										<ul id="main-menu" class="sm sm-clean">
											<li><a href="#yak1">О нас</a></li>
											<li><a href="#yak2">Преимущества</a></li>
											<li><a href="#yak3">История</a></li>
											<li><a href="#yak4">Новости</a></li>
											<li><a href="#yak5">Контакты</a></li>
										</ul>
									</nav>
								.logo
									a(href="index.html")
										img(src=img+"logo.png", alt="")
							.header-social 
								a(href="#").social-f 
									img(src=img+"facebook.svg", alt="")
								a(href="#").social-vk
									img(src=img+"vk.svg", alt="")
								a(href="#").social-inst
									img(src=img+"instagram.svg", alt="")
							.header-phone 
								img(src=img+"phone-call.svg", alt="")
								a(href="tel:+88005551807").header-phone-txt 8-800-555-18-07
						.corporate_network_fl(data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-once="true")
							.corporate_network_left
								.heshteg_dop #Фирменная сеть
								h1 Окраина<br>вкуснее
								.p_dop Ваш доходный мясной магазин
								.flex_corporate_network
									form
										<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.4014 16.1458L18.3313 13.0756C17.2348 11.9791 15.3708 12.4178 14.9322 13.8432C14.6032 14.83 13.5067 15.3783 12.5199 15.1589C10.3269 14.6107 7.36639 11.7598 6.81815 9.45721C6.4892 8.47033 7.14709 7.37384 8.13393 7.04493C9.55937 6.60634 9.99796 4.74231 8.90147 3.64582L5.83131 0.575656C4.95412 -0.191885 3.63833 -0.191885 2.87079 0.575656L0.787465 2.65898C-1.29586 4.85196 1.00676 10.6633 6.16026 15.8168C11.3137 20.9703 17.1251 23.3826 19.3181 21.1896L21.4014 19.1063C22.169 18.2291 22.169 16.9133 21.4014 16.1458Z" fill="white"/></svg>
										input(type="tel")
									a(class="btn_main" id="linkHref" href="#" target="_blank") Мне интересно!
								.p_dop_1 Нажимая на кнопку, вы даете согласие на обработку своих персональных данных
								.heshteg_dop #о нас в цифрах
								.flex_corporate_network_1 
									.corporate_number_l За <br><span class="number_span">30</span><br><span class="days_span">дней</span><br>Запуск<br>бизнеса
									.corporate_number_r
										.corporate_number_top до<br><span class="price_span">400 000 ₽</span><br>Чистая прибыль
										.corporate_number_bot <span class="six_span">6-12</span><span class="mounth_span"> месяцев</span><br>Окупаемость
							.corporate_network_right
								img(src=img+"img_main.png", alt="")
						.corporate_network_image_block
							img(src=img+"Rectangle 2.png", alt="" data-aos="zoom-in" data-aos-offset="200" data-aos-duration="800" data-aos-delay="200" data-aos-once="true")
							img(src=img+"Rectangle 3.png", alt="" data-aos="zoom-in" data-aos-offset="200" data-aos-duration="800" data-aos-delay="350" data-aos-once="true")
							img(src=img+"Rectangle 4.png", alt="" data-aos="zoom-in" data-aos-offset="200" data-aos-duration="800" data-aos-delay="500" data-aos-once="true")
				.partnership(id="yak2")
					.container
						.partnership_fl(data-aos="fade-right" data-aos-offset="400" data-aos-duration="1000" data-aos-once="true")
							.partnership_left(data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-once="true")
								.partnership_left_txt_open мы уже открыли!
								.partnership_left_txt_number 37
								.partnership_left_txt_magazine магазинов
								.heshteg_grey #онлайн-счётчик
								a(class="btn_main" id="pop" href="#text-popup" target="_blank") Стать партнёром
								<div id="text-popup" class="white-popup mfp-hide">
									.pop_partnership
										.heshteg_black #Мы готовы рассмотреть партнерство
										.partnership_p Введите свои данные и мы Вам перезвоним
										form
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.99996 9.78131C12.2236 9.78131 14.0264 7.59171 14.0264 4.89069C14.0264 2.1896 13.4345 0 9.99996 0C6.56539 0 5.97339 2.1896 5.97339 4.89069C5.97339 7.59171 7.77619 9.78131 9.99996 9.78131Z" fill="#4D434B"/><path d="M2.39483 17.2489C2.39415 17.0842 2.39346 17.2025 2.39483 17.2489V17.2489Z" fill="#4D434B"/><path d="M17.605 17.3774C17.6071 17.3323 17.6057 17.0646 17.605 17.3774V17.3774Z" fill="#4D434B"/><path d="M17.5963 17.0512C17.5217 12.3459 16.9072 11.0052 12.2048 10.1565C12.2048 10.1565 11.5428 11 9.99997 11C8.45712 11 7.79506 10.1565 7.79506 10.1565C3.14392 10.9959 2.49203 12.3168 2.40632 16.8983C2.39929 17.2724 2.39603 17.2921 2.39478 17.2487C2.39506 17.33 2.3954 17.4806 2.3954 17.743C2.3954 17.743 3.51495 19.9999 9.99997 19.9999C16.4849 19.9999 17.6045 17.743 17.6045 17.743C17.6045 17.5744 17.6047 17.4571 17.6048 17.3774C17.6036 17.4042 17.6011 17.3522 17.5963 17.0512Z" fill="#4D434B"/></svg>
											input(type="text")
										form
											<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M17.5102 13.2102L14.9983 10.6982C14.1012 9.80111 12.576 10.16 12.2172 11.3262C11.948 12.1337 11.0509 12.5822 10.2435 12.4028C8.44925 11.9542 6.02701 9.62168 5.57845 7.73772C5.30931 6.93027 5.84759 6.03314 6.655 5.76404C7.82127 5.40519 8.18012 3.88007 7.28299 2.98295L4.77104 0.470991C4.05334 -0.156997 2.97678 -0.156997 2.3488 0.470991L0.644257 2.17553C-1.06028 3.96978 0.823682 8.72455 5.04018 12.941C9.25667 17.1575 14.0114 19.1313 15.8057 17.337L17.5102 15.6324C18.1383 14.9147 18.1383 13.8382 17.5102 13.2102Z" fill="#4D434B"/></g><defs><clipPath id="clip0"><rect width="18" height="18" fill="white"/></clipPath></defs></svg>
											input(type="tel")
										.btn_main Отправить заявку
										.partnership_p_dop *Нажимая на кнопку, вы даете согласие на обработку своих персональных данных
								</div>
							.partnership_right(data-aos="fade-left" data-aos-offset="200" data-aos-duration="1000" data-aos-once="true")
								.heshteg_grey #Мы готовы рассмотреть партнерство
								.oblast_block
									.oblast_block_l
										.murm_oblast Мурманская область:
										div Кировск
										div Никель
										div Мончегорск
										div Оленегорск
									.oblast_block_r 
										.len_oblast Ленинградская область
										.len_oblast_flex
											.len_oblast_column
												div Кингисепп
												div Сосновый Бор
												div Ломоносов
												div Гатчина
												div Выборг 
											.len_oblast_column
												div Луга
												div Тосно
												div Кириши
												div Тихвин 
											.len_oblast_column
												div Кировск
												div Шлиссельбург
												div Всеволожск
				.about(id="yak1")
					.container
						.about_fl(data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-once="true")
							img(src=img+"Rectangle 14.png", alt="")
							.about_right
								<section data-scrollbar id="my-scrollbar">
										<div class="scroll-content">
											.heshteg_black #об Окраине
											.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии.Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии.Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.Покупатели фирменной сети могут первыми оценить новинки, поучаствовать в дегустациях, купить эксклюзивную продукцию, которой нет в других магазинах.<br><br>Свежесть. Цены. Выбор. Качество. Вкус. За этим к нам приходят и возвращаются
										</div>
										<div class="scrollbar-track scrollbar-track-y">
											<div class="scrollbar-thumb scrollbar-thumb-y"></div>
										</div>
								</section>
				.model
					.parallax_2(id="scene_2")
						img(src=img+"paralax_2_1.png", alt="" class="paralax_2_1" data-depth="1.5")
						img(src=img+"paralax_2_2.png", alt="" class="paralax_2_2" data-depth="1.6")
						img(src=img+"paralax_2_3.png", alt="" class="paralax_2_3" data-depth="1.7")
					.container
						.model_fl(data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" data-aos-once="true" id="scroll")
							.model_fl_money Паушальный взнос<br><span class="number">200 000 ₽</span>
							.model_fl_royal Роялти<br><span class="number">10 000 ₽</span>
							.model_fl_home Помещение<span></spa><span class="txt">от</span><span class="number">20</span><span class="txt">м2</span></span>
							a(class="btn_main" id="linkHref" href="#yak5" target="_blank") Получить финансовую модель
						.model_fl_1
							.model_block_l(data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-once="true" id="scroll_2")
								.model_block_l_cart
									img(src=img+"Rectangle 22.png", alt="")
									.corner
										.corner_block_title
											.corner_title Фирменный корнер
											.corner_metr <span class="number">20-25</span><span class="txt">м2</span>
										.corner_block_rows
											.row Вложения: <span class="bold_600">800-950 тыс. р.</span>
											<hr><br>
											.row Оборудование: <span class="bold_600">350-450 тыс. р.</span>
											.row Оформление, интерьер: <span class="bold_600">150-200 тыс. р.</span>
											.row Товарное наполнение: <span class="bold_600">100 тыс. р.</span>
											.row Паушальный взнос: <span class="bold_600">200 тыс. р.</span>
											<br><br>
											.row_1 Чистая прибыль: <span class="bold_600_green">150 000 – 250 000 ₽</span>
											.row_1 Срок окупаемости: <span class="bold_600_green">6 – 10 месяцев</span>
								a(class="btn_main" href="#yak5" target="_blank") Получить финансовую модель
							.model_block_r(data-aos="fade-left" data-aos-offset="200" data-aos-duration="1000" data-aos-once="true" id="scroll_3")
								.model_block_r_cart
									img(src=img+"Rectangle 24.png", alt="")
									.magazine
										.magazine_block_title
											.magazine_title Фирменный магазин
											.magazine_metr <span class="number">35-60</span><span class="txt">м2</span>
										.magazine_block_rows
											.row Вложения: <span class="bold_600">1100-1350 тыс. р.</span>
											<hr><br>
											.row Оборудование: <span class="bold_600">500- 700 тыс. р.</span>
											.row Оформление, интерьер: <span class="bold_600">200-250 тыс. р.</span>
											.row Товарное наполнение: <span class="bold_600">200 тыс. р.</span>
											.row Паушальный взнос: <span class="bold_600">200 тыс. р.</span>
											<br><br>
											.row_1 Чистая прибыль: <span class="bold_600_green">200 000 – 350 000 ₽</span>
											.row_1 Срок окупаемости: <span class="bold_600_green">6 – 12 месяцев</span>
								a(class="btn_main" href="#yak5" target="_blank") Получить финансовую модель
				.success_story(id="yak3")
					.container
						.slider-for
							a.slider-dop
								.fl_1
									img(src=img+"Rectangle_39.png", alt="")
									.fl_2
										.success_story_title_1 
											.heshteg_black #Истории успеха
											button(id="pop_1" href="#text-popup_1" class="btn_main")
												.circle_plus +
												.btn_main_txt Присоединиться
										.success_story_title_2
											.block_title
												span Магазин 1
												img(src=img+"99.svg", alt="")
											.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.<br>Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.
							a.slider-dop
								.fl_1
									img(src=img+"Rectangle_39.png", alt="")
									.fl_2
										.success_story_title_1 
											.heshteg_black #Истории успеха
											button(id="pop_2" href="#text-popup_2" class="btn_main")
												.circle_plus +
												.btn_main_txt Присоединиться
										.success_story_title_2
											.block_title
												span Магазин 2
												img(src=img+"99.svg", alt="")
											.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.<br>Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.
							a.slider-dop
								.fl_1
									img(src=img+"Rectangle_39.png", alt="")
									.fl_2
										.success_story_title_1 
											.heshteg_black #Истории успеха
											button(id="pop_3" href="#text-popup_3" class="btn_main")
												.circle_plus +
												.btn_main_txt Присоединиться
										.success_story_title_2 
											.block_title
												span Магазин 3
												img(src=img+"99.svg", alt="")
											.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.<br>Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники, блинчики на самый взыскательный вкус.
						<div id="text-popup_1" class="white-popup mfp-hide">
							.pop_partnership
								.heshteg_black #Мы готовы рассмотреть партнерство
								.partnership_p Введите свои данные и мы Вам перезвоним
								form
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.99996 9.78131C12.2236 9.78131 14.0264 7.59171 14.0264 4.89069C14.0264 2.1896 13.4345 0 9.99996 0C6.56539 0 5.97339 2.1896 5.97339 4.89069C5.97339 7.59171 7.77619 9.78131 9.99996 9.78131Z" fill="#4D434B"/><path d="M2.39483 17.2489C2.39415 17.0842 2.39346 17.2025 2.39483 17.2489V17.2489Z" fill="#4D434B"/><path d="M17.605 17.3774C17.6071 17.3323 17.6057 17.0646 17.605 17.3774V17.3774Z" fill="#4D434B"/><path d="M17.5963 17.0512C17.5217 12.3459 16.9072 11.0052 12.2048 10.1565C12.2048 10.1565 11.5428 11 9.99997 11C8.45712 11 7.79506 10.1565 7.79506 10.1565C3.14392 10.9959 2.49203 12.3168 2.40632 16.8983C2.39929 17.2724 2.39603 17.2921 2.39478 17.2487C2.39506 17.33 2.3954 17.4806 2.3954 17.743C2.3954 17.743 3.51495 19.9999 9.99997 19.9999C16.4849 19.9999 17.6045 17.743 17.6045 17.743C17.6045 17.5744 17.6047 17.4571 17.6048 17.3774C17.6036 17.4042 17.6011 17.3522 17.5963 17.0512Z" fill="#4D434B"/></svg>
									input(type="text")
								form
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M17.5102 13.2102L14.9983 10.6982C14.1012 9.80111 12.576 10.16 12.2172 11.3262C11.948 12.1337 11.0509 12.5822 10.2435 12.4028C8.44925 11.9542 6.02701 9.62168 5.57845 7.73772C5.30931 6.93027 5.84759 6.03314 6.655 5.76404C7.82127 5.40519 8.18012 3.88007 7.28299 2.98295L4.77104 0.470991C4.05334 -0.156997 2.97678 -0.156997 2.3488 0.470991L0.644257 2.17553C-1.06028 3.96978 0.823682 8.72455 5.04018 12.941C9.25667 17.1575 14.0114 19.1313 15.8057 17.337L17.5102 15.6324C18.1383 14.9147 18.1383 13.8382 17.5102 13.2102Z" fill="#4D434B"/></g><defs><clipPath id="clip0"><rect width="18" height="18" fill="white"/></clipPath></defs></svg>
									input(type="tel")
								.btn_main Отправить заявку
								.partnership_p_dop *Нажимая на кнопку, вы даете согласие на обработку своих <span>персональных данных</span>
						</div>
						<div id="text-popup_2" class="white-popup mfp-hide">
							.pop_partnership
								.heshteg_black #Мы готовы рассмотреть партнерство
								.partnership_p Введите свои данные и мы Вам перезвоним
								form
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.99996 9.78131C12.2236 9.78131 14.0264 7.59171 14.0264 4.89069C14.0264 2.1896 13.4345 0 9.99996 0C6.56539 0 5.97339 2.1896 5.97339 4.89069C5.97339 7.59171 7.77619 9.78131 9.99996 9.78131Z" fill="#4D434B"/><path d="M2.39483 17.2489C2.39415 17.0842 2.39346 17.2025 2.39483 17.2489V17.2489Z" fill="#4D434B"/><path d="M17.605 17.3774C17.6071 17.3323 17.6057 17.0646 17.605 17.3774V17.3774Z" fill="#4D434B"/><path d="M17.5963 17.0512C17.5217 12.3459 16.9072 11.0052 12.2048 10.1565C12.2048 10.1565 11.5428 11 9.99997 11C8.45712 11 7.79506 10.1565 7.79506 10.1565C3.14392 10.9959 2.49203 12.3168 2.40632 16.8983C2.39929 17.2724 2.39603 17.2921 2.39478 17.2487C2.39506 17.33 2.3954 17.4806 2.3954 17.743C2.3954 17.743 3.51495 19.9999 9.99997 19.9999C16.4849 19.9999 17.6045 17.743 17.6045 17.743C17.6045 17.5744 17.6047 17.4571 17.6048 17.3774C17.6036 17.4042 17.6011 17.3522 17.5963 17.0512Z" fill="#4D434B"/></svg>
									input(type="text")
								form
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M17.5102 13.2102L14.9983 10.6982C14.1012 9.80111 12.576 10.16 12.2172 11.3262C11.948 12.1337 11.0509 12.5822 10.2435 12.4028C8.44925 11.9542 6.02701 9.62168 5.57845 7.73772C5.30931 6.93027 5.84759 6.03314 6.655 5.76404C7.82127 5.40519 8.18012 3.88007 7.28299 2.98295L4.77104 0.470991C4.05334 -0.156997 2.97678 -0.156997 2.3488 0.470991L0.644257 2.17553C-1.06028 3.96978 0.823682 8.72455 5.04018 12.941C9.25667 17.1575 14.0114 19.1313 15.8057 17.337L17.5102 15.6324C18.1383 14.9147 18.1383 13.8382 17.5102 13.2102Z" fill="#4D434B"/></g><defs><clipPath id="clip0"><rect width="18" height="18" fill="white"/></clipPath></defs></svg>
									input(type="tel")
								.btn_main Отправить заявку
								.partnership_p_dop *Нажимая на кнопку, вы даете согласие на обработку своих <span>персональных данных</span>
						</div>
						<div id="text-popup_3" class="white-popup mfp-hide">
							.pop_partnership
								.heshteg_black #Мы готовы рассмотреть партнерство
								.partnership_p Введите свои данные и мы Вам перезвоним
								form
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.99996 9.78131C12.2236 9.78131 14.0264 7.59171 14.0264 4.89069C14.0264 2.1896 13.4345 0 9.99996 0C6.56539 0 5.97339 2.1896 5.97339 4.89069C5.97339 7.59171 7.77619 9.78131 9.99996 9.78131Z" fill="#4D434B"/><path d="M2.39483 17.2489C2.39415 17.0842 2.39346 17.2025 2.39483 17.2489V17.2489Z" fill="#4D434B"/><path d="M17.605 17.3774C17.6071 17.3323 17.6057 17.0646 17.605 17.3774V17.3774Z" fill="#4D434B"/><path d="M17.5963 17.0512C17.5217 12.3459 16.9072 11.0052 12.2048 10.1565C12.2048 10.1565 11.5428 11 9.99997 11C8.45712 11 7.79506 10.1565 7.79506 10.1565C3.14392 10.9959 2.49203 12.3168 2.40632 16.8983C2.39929 17.2724 2.39603 17.2921 2.39478 17.2487C2.39506 17.33 2.3954 17.4806 2.3954 17.743C2.3954 17.743 3.51495 19.9999 9.99997 19.9999C16.4849 19.9999 17.6045 17.743 17.6045 17.743C17.6045 17.5744 17.6047 17.4571 17.6048 17.3774C17.6036 17.4042 17.6011 17.3522 17.5963 17.0512Z" fill="#4D434B"/></svg>
									input(type="text")
								form
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M17.5102 13.2102L14.9983 10.6982C14.1012 9.80111 12.576 10.16 12.2172 11.3262C11.948 12.1337 11.0509 12.5822 10.2435 12.4028C8.44925 11.9542 6.02701 9.62168 5.57845 7.73772C5.30931 6.93027 5.84759 6.03314 6.655 5.76404C7.82127 5.40519 8.18012 3.88007 7.28299 2.98295L4.77104 0.470991C4.05334 -0.156997 2.97678 -0.156997 2.3488 0.470991L0.644257 2.17553C-1.06028 3.96978 0.823682 8.72455 5.04018 12.941C9.25667 17.1575 14.0114 19.1313 15.8057 17.337L17.5102 15.6324C18.1383 14.9147 18.1383 13.8382 17.5102 13.2102Z" fill="#4D434B"/></g><defs><clipPath id="clip0"><rect width="18" height="18" fill="white"/></clipPath></defs></svg>
									input(type="tel")
								.btn_main Отправить заявку
								.partnership_p_dop *Нажимая на кнопку, вы даете согласие на обработку своих <span>персональных данных</span>
						</div>
						.flex_slider_nav
							.slider-nav
								a.sl
									img(src=img+"Rectangle_40.png", alt="")
									.slider-nav_title Магазин 2
								a.sl
									img(src=img+"Rectangle_41.png", alt="")
									.slider-nav_title Магазин 3
								a.sl
									img(src=img+"Rectangle_40.png", alt="")
									.slider-nav_title Магазин 1
							.slider-nav-btn
								a.arrow_prev <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.93402e-07 8L13.5 15.7942L13.5 0.205771L3.93402e-07 8Z" fill="white"/></svg>
								a.arrow_next <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 8L0.499999 15.7942L0.5 0.205771L14 8Z" fill="white"/></svg>
				.news
					.parallax_3(id="scene_3")
						img(src=img+"paralax_3_1.png", alt="" class="paralax_3_1" data-depth="1.2")
						img(src=img+"paralax_3_2.png", alt="" class="paralax_3_2" data-depth="1.3")
						img(src=img+"paralax_3_3.png", alt="" class="paralax_3_3" data-depth="1.4")
						img(src=img+"paralax_3_4.png", alt="" class="paralax_3_4" data-depth="1.2")
						img(src=img+"paralax_3_5.png", alt="" class="paralax_3_5" data-depth="1.3")
						img(src=img+"paralax_3_6.png", alt="" class="paralax_3_6" data-depth="1.4")
						img(src=img+"paralax_3_7.png", alt="" class="paralax_3_7" data-depth="1.2")
					.container(id="yak4")
						.heshteg_black #новости
						.news_blocks
							.news_block(data-aos="zoom-in" data-aos-offset="200" data-aos-duration="800" data-aos-delay="200" data-aos-once="true")
								a
									img(src=img+"img_1.png", alt="")
								a.news_block_title Выбор сырья
								.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники...
								a.news_block_btn(id="pop_4" href="#text-popup_4")
									.news_block_btn_txt Посмотреть
									img(src=img+"witness_1.svg", alt="")
							.news_block(data-aos="zoom-in" data-aos-offset="200" data-aos-duration="800" data-aos-delay="350" data-aos-once="true")
								a
									img(src=img+"img_2.png", alt="")
								a.news_block_title Выбор сырья
								.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники...
								a.news_block_btn(id="pop_5" href="#text-popup_5")
									.news_block_btn_txt Посмотреть
									img(src=img+"witness_1.svg", alt="")
							.news_block(data-aos="zoom-in" data-aos-offset="200" data-aos-duration="800" data-aos-delay="500" data-aos-once="true")
								a
									img(src=img+"img_3.png", alt="")
								a.news_block_title Выбор сырья
								.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники...
								a.news_block_btn(id="pop_6" href="#text-popup_6")
									.news_block_btn_txt Посмотреть
									img(src=img+"witness_1.svg", alt="")
							.news_block(data-aos="zoom-in" data-aos-offset="200" data-aos-duration="800" data-aos-delay="650" data-aos-once="true")
								a
									img(src=img+"img_4.png", alt="")
								a.news_block_title Выбор сырья
								.p_main Фирменные магазины Окраина вкуснее – это настоящая находка для ценителей мясной гастрономии. Здесь вы найдёте колбасы, сосиски, деликатесы, пельмени, вареники...
								a.news_block_btn(id="pop_7" href="#text-popup_7")
									.news_block_btn_txt Посмотреть
									img(src=img+"witness_1.svg", alt="")
							<div id="text-popup_4" class="white-popup_1 mfp-hide">
								.pop_news
									.pop_news_fl
										.pop_news_fl_l
											img(src=img+"pop_2.png", alt="")
											img(src=img+"pop_1.png", alt="")
										.pop_news_fl_r
											.pop_news_fl_r_title Выбор сырья
											.pop_news_fl_r_txt Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение модели развития. С другой стороны начало повседневной работы по формированию позиции способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны новая модель организационной деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
									p.pop_news_fl_p Не следует, однако забывать, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас анализа соответствующий условий активизации. Разнообразный и богатый опыт начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.<br>
									p.pop_news_fl_p Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации систем массового участия. <br>
									p.pop_news_fl_p Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации систем массового участия. <br>
									p.pop_news_fl_p Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации систем массового участия. 
							</div>
							<div id="text-popup_5" class="white-popup_1 mfp-hide">
								.pop_news
									.pop_news_fl
										.pop_news_fl_l
											img(src=img+"pop_2.png", alt="")
											img(src=img+"pop_1.png", alt="")
										.pop_news_fl_r
											.pop_news_fl_r_title Выбор сырья
											.pop_news_fl_r_txt Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение модели развития. С другой стороны начало повседневной работы по формированию позиции способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны новая модель организационной деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
									p.pop_news_fl_p Не следует, однако забывать, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас анализа соответствующий условий активизации. Разнообразный и богатый опыт начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.<br>
									p.pop_news_fl_p Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации систем массового участия. <br>
									p.pop_news_fl_p Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации систем массового участия. <br>
									p.pop_news_fl_p Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации систем массового участия. 
							</div>
							<div id="text-popup_6" class="white-popup_1 mfp-hide">
								.pop_news
									.pop_news_fl
										.pop_news_fl_l
											img(src=img+"pop_2.png", alt="")
											img(src=img+"pop_1.png", alt="")
										.pop_news_fl_r
											.pop_news_fl_r_title Выбор сырья
											.pop_news_fl_r_txt Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение модели развития. С другой стороны начало повседневной работы по формированию позиции способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны новая модель организационной деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
									p.pop_news_fl_p Не следует, однако забывать, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас анализа соответствующий условий активизации. Разнообразный и богатый опыт начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.<br>
									p.pop_news_fl_p Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации систем массового участия. <br>
									p.pop_news_fl_p Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации систем массового участия. <br>
									p.pop_news_fl_p Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации систем массового участия. 
							</div>
							<div id="text-popup_7" class="white-popup_1 mfp-hide">
								.pop_news
									.pop_news_fl
										.pop_news_fl_l
											img(src=img+"pop_2.png", alt="")
											img(src=img+"pop_1.png", alt="")
										.pop_news_fl_r
											.pop_news_fl_r_title Выбор сырья
											.pop_news_fl_r_txt Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение модели развития. С другой стороны начало повседневной работы по формированию позиции способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны новая модель организационной деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
									p.pop_news_fl_p Не следует, однако забывать, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас анализа соответствующий условий активизации. Разнообразный и богатый опыт начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.<br>
									p.pop_news_fl_p Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации систем массового участия. <br>
									p.pop_news_fl_p Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации систем массового участия. <br>
									p.pop_news_fl_p Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации систем массового участия. 
							</div>
						.join_fl(id="yak5")
							.join_block_l
								img(src=img+"join_img.png", alt="")
							.join_block_r(data-aos="fade-left" data-aos-offset="200" data-aos-duration="1000" data-aos-once="true")
								.heshteg_grey #присоединяйтесь
								.join_block_r_title Постройте выгодный бизнес с ОКРАИНОЙ!
								.p_main Задайте свой вопрос нашему менеджеру прямо сейчас:
								span.telefone 8-800-555-18-07
								.p_main_fl
									.p_main Или напишите нам сейчас:
									span.email fr@okraina.ru
								.flex
									form
										<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.4014 16.1458L18.3313 13.0756C17.2348 11.9791 15.3708 12.4178 14.9322 13.8432C14.6032 14.83 13.5067 15.3783 12.5199 15.1589C10.3269 14.6107 7.36639 11.7598 6.81815 9.45721C6.4892 8.47033 7.14709 7.37384 8.13393 7.04493C9.55937 6.60634 9.99796 4.74231 8.90147 3.64582L5.83131 0.575656C4.95412 -0.191885 3.63833 -0.191885 2.87079 0.575656L0.787465 2.65898C-1.29586 4.85196 1.00676 10.6633 6.16026 15.8168C11.3137 20.9703 17.1251 23.3826 19.3181 21.1896L21.4014 19.1063C22.169 18.2291 22.169 16.9133 21.4014 16.1458Z" fill="#4D434B"/></svg>
										input(type="tel")
									a(class="btn_main" id="linkHref" href="#" target="_blank") Оставить заявку
								.p_dops Нажимая на кнопку, вы даете согласие на обработку своих <span>персональных данных</span>

		include blocks/footer.pug
		include blocks/scripts.pug