- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
				.header_bg
					.container
						.header
							.reverse
								.menu
									<nav class="main-nav main-nav-dop" role="navigation">
										<!-- Mobile menu toggle button (hamburger/x icon) -->
										<input id="main-menu-state" type="checkbox" />
										<label class="main-menu-btn" for="main-menu-state">
											<span class="main-menu-btn-icon"></span> Toggle main menu visibility
										</label>
										<!-- Sample menu definition -->
										<ul id="main-menu" class="sm sm-clean">
											<li><a href="#yak1">О нас</a></li>
											<li><a href="#yak2">Преимущества</a></li>
											<li><a href="#yak3">История</a></li>
											<li><a href="#yak4">Новости</a></li>
											<li><a href="#yak5">Контакты</a></li>
										</ul>
									</nav>
								.logo
									a(href="index.html")
										img(src=img+"logo.png", alt="")
							.header-social 
								a(href="#").social-f 
									img(src=img+"facebook.svg", alt="")
								a(href="#").social-vk
									img(src=img+"vk.svg", alt="")
								a(href="#").social-inst
									img(src=img+"instagram.svg", alt="")
							.header-phone 
								img(src=img+"phone-call.svg", alt="")
								a(href="tel:+88005551807").header-phone-txt 8-800-555-18-07
				.politics
					.container
						a(class="politics_btn" id="linkHref" href="#" target="_blank") 
							<svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.62268e-07 6L9 11.1962L9 0.803847L2.62268e-07 6Z" fill="white"/></svg>
							span назад
						.heshteg_black #ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
						.p_main г. Харьков<br>«27» августа 2020 г.<br><br>Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую Интернет-магазин «virga» расположенный на доменном имени www.virga.com.ua, может получить о Пользователе во время использования сайта Интернет-магазина, программ и продуктов Интернет-магазина.
						.heshteg_green 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
						.p_main 1.1 В настоящей Политике конфиденциальности используются следующие термины:<br><br>1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени ТОВ «ВIРГА», которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.<br><br>1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).<br><br>1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.<br><br>1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.<br><br>1.1.5. «Пользователь сайта Интернет-магазина (далее  Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт интернет-магазина.<br><br>1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.<br><br>1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
		include blocks/footer_1.pug
		include blocks/scripts.pug